
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-image: url("../images/footerimage.jfif");
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    /*border: 1px solid lightgrey;*/
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #555555;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.btn:hover {
    background-color: #EEB4B4;
}

a {
    color: #2196F3;
}

hr {
    /*border: 1px solid lightgrey;*/
}

span.price {
    float: right;
    color: grey;
}
.checkout{
    color:white;
    margin-left: 50px;
}
.container1{
    background-image: url("../images/footerimage.jfif");
    margin:auto;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}
label {
    display: inline-block;
    width: 150px;
}
/* Header Style */
.navbar .navbar-brand {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 25px 0px;
    margin:auto;

}

.bg-dark {
    background-image: url("../images/footerimage.jfif");
    margin-right:350px;
}

#navbarResponsive {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 105px;
    transform: translateX(-50%);
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    /*color: #FFB6C1;*/
    transition: all 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #FFB6C1;
}








